<table class="table table-sm table-striped table-bordered text-left" id="content_table">
	<thead>
		<tr>
			<th>№</th>
			<th></th>
			<th>Название</th>
			<th></th>
			<th>дата</th>
			<th>статус</th>
		</tr>
	</thead>
	<tbody>
{{#each list}}
		<tr>
			<td>{{id}}</td>
			<td>
				<img src="
{{#if img}}
				/files/image/{{img}}
{{else}}
				/admin/img/no-img.png
{{/if}}
				" width="80" />
				<span class="badge badge-secondary">{{child_num}}</span>
			</td>
			<td>
{{#if child_num}}
				<button class="btn btn-secondary btn-block text-left" onClick="basis_draw_click('{{id}}', '{{name}}')">{{name}}&nbsp;[{{id}}]</button>
{{else}}
				{{name}}&nbsp;[{{id}}]
{{/if}}
			</td>
			<td><button class="btn btn-secondary btn-block text-left" onClick="basis_update_draw({{id}})"><i class="far fa-edit"></i></button></td>
			<td>{{{created_nice}}}</td>
			<td>
{{#if closed}}
				<button id="status_btn_{{id}}" class="btn btn-sm btn-danger py-0 px-1" title="вкл-выкл" onClick="basis_update({{id}}, 'status', 1)"><i class="fas fa-toggle-off"></i></button>
{{else}}
				<button id="status_btn_{{id}}" class="btn btn-sm btn-success py-0 px-1" title="вкл-выкл" onClick="basis_update({{id}}, 'status', 0)"><i class="fas fa-toggle-on"></i></button>
{{/if}}
			</td>
		</tr>
{{/each}}
	</tbody>
</table>