@charset "utf-8";
html{position: relative;min-height: 100%;}
body{font-family: 'RobotoRegular', sans-serif;font-size: 14px;color: #222;}
h1, h2, h3, h4, h5, h6{font-family: 'RobotoRegular', sans-serif;color:#111;}
h1{font-size:16pt;}

/*bootstrap переназначение */
.btn-secondary {color: #111!important;background-color:#fff!important;border-color:#bbb!important;}
.btn-secondary:hover {color:#000!important;background-color:#eee!important;border-color:#999!important;}
.btn-secondary:not(:disabled):not(.disabled).active{background-color:#ddd!important;border-color:#555!important;color:#000!important;}
.breadcrumb{background: transparent!important;}

/*user*/
#login-content {
  display: none;
  position: absolute;
  right:1rem;
  top:3rem;
  z-index: 999;
  background: #e2f1fc;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 11px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

header{transition: all 200ms ease;box-shadow: 0px 0px 14px 0px #000000;}
.footer {width: 100%;height: 60px;line-height: 60px;background-color: #f5f5f5;}
.registration_box{max-width:40rem}

/*******Font***/
@font-face {
	font-family: "RobotoRegular";
	src: url("../font/roboto/Roboto-Regular.woff") format("woff"),
		url("../font/roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../font/roboto/Roboto-Bold.woff") format("woff"),
		url("../font/roboto/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoLight";
	src: url("../font/roboto/Roboto-Light.woff") format("woff"),
		url("../font/roboto/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}