@charset "utf-8";

#top_logo_img,
#menu_nav,
#menu_footer,
.product_slogan,
.product_preview_block,
.page_title,
.slider_wrapper,
.slider_content_wrapper,
#slider_dots
{transition: all 600ms ease;}
		

@media only screen and (max-width: 1000px){
	#top_logo_img {
		margin-top: 56px;
		margin-left: 1.9rem;
	}
	#menu_nav {
		margin-top: 5rem;
	}
	#menu_footer{margin-top:3rem;}

	.1product_slogan {
		width: 40rem;
		height: 6rem;
	}
	
	/*SLIDER**/
	.slider_wrapper{width: 100vw;}
	
	/*palitra*/
	#colors .nav-tabs>li {
		
	}
	#colors .nav-tabs>li>a {
		padding: .2rem!important;
	}
}

@media only screen and (max-width: 768px){
	#top_logo_img {
		margin: 1rem 60px;
		width: 8.4rem;
		height: 5.7rem;
	}
	#menu_nav {
		margin-top: .5rem;
	}
	#menu_nav a {
		font-size: 9pt!important;
		padding-left: 2rem;
		height: 1.2rem;
		line-height: 14pt;
	}
	#menu_footer{margin-top:1rem;}
	
	.1product_slogan {
		width: 25rem;
		height: 4rem;
	}
	
	.wrapper_product{margin: .5rem .1rem;}
	.infobox_image{float:none;margin:.5rem 0 0;max-width:87vw;}
	
	/*SLIDER**/
	.slider_wrapper{width: 100vw;}


}

@media only screen and (max-width: 400px){
	.page_title {margin: 1rem 1.75rem;font-size: 15pt;}
	.expand_title{padding:1rem 0;font-size: 15pt;}


/*PRODUCT**/
	.product_preview_block {margin: .2rem auto;}

	.breadcrumb_product {
		margin: .1rem .7rem;
	}
	.1product_text {
		margin: .5rem;
	}
	.1product_text p{
		margin: 1rem 0;
		text-indent: .3rem;
	}
	.1product_slogan {
		width: 20rem;
		height: 3rem;
	}
	
	.wrapper_product{margin: .5rem 0;}
	.infobox_image{float:none;margin:.2rem 0 0;width:87vw;}
	
/*SLIDER**/
.slider_wrapper{width: 100vw;}
.slider_content_wrapper{width: 100%;bottom: 3rem;right: 0;padding: 0 1rem 1rem;opacity: 0.8;background: url(/app/img/n_line.png) no-repeat center .6rem #111;}
#slider_dots{bottom: .54rem;right: 0;}
.slider_name{font-size: 16pt;margin-top: 1.8rem;padding-bottom: .5rem;line-height: 20pt;}
.slider_link{padding: .62rem .4rem;font-size: 11pt;margin: 1.1rem auto 0;width: 9rem;}

/***KONTAKTY page***/
#contacts_map{height:70vh;}
#contacts_bottom{padding:0 1rem;}

}

