@charset "utf-8";
*{-webkit-font-smoothing: antialiased;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
body {line-height: 1;}
ul, ol{list-style: none;margin-bottom: 0px;}

blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

html{}
body{font-family: 'RobotoRegular', sans-serif;font-size: 12pt;font-weight: 400;background: #fff;color: #222;height:100%;transition: all 200ms ease;}

p{line-height: 13pt;text-indent:0}
a{display:inline;position:relative;color:#222;border:none;transition:all 200ms ease;}
a, a:hover, a:visited, a:active, a:link{text-decoration: none;transition: all 200ms ease;}
a:active{position: relative;color: #ee7f1a;}
a:hover{color: #ee7f1a;}
strong{font-family: 'RobotoBold', sans-serif;font-weight: normal;}

h1{font-size: 22pt;}
h2{font-size: 19pt;}
h3{font-size: 17pt;}
h4{font-size: 14pt;}
h5{font-size: 11pt;}
h1, h2, h3, h4, h5, h6{line-height:100%}
section{display: block;position: relative;box-sizing: border-box;}
.clear{clear: both;}
.float_right{float:right;}
.float_left{float:left;}

#wrapper{height:100%;width:100%;z-index:1}
#main{padding-left:287px;height:100%;z-index:2;overflow: hidden;}
.scroll{overflow:auto!important;}

.page_title{margin: 2.3rem 3.3rem 0;font-family: RobotoRegular;font-size: 17pt;color: #222;letter-spacing: .6pt;}
.breadcrumb_product{margin: .7rem 2.33rem;}
.breadcrumb_product, .breadcrumb_product a{color:#2b2b2b;}
hr{margin:0}

/****NAV Left Main******************/
#menu_trigger_box{width:56px;height:100%;background:#222;position:fixed;top:0;left:0;z-index:99}
#menu_trigger_btn{width:56px;height:56px;background:url(/app/img/menu_trigger.png) no-repeat center center;cursor:pointer;z-index:100;-webkit-transition: all 450ms ease-out;transition: all 450ms ease-out;}
.menu_trigger_btn_rotate{-webkit-transform: rotate(180deg);transform: rotate(180deg);}

#menu_box{width: 232px;
height: 100%;
background: #2b2b2b;
overflow: hidden;
position: fixed;
top: 0;
left: 56px;z-index:98}


#top_logo_img{margin-top: 3.8rem;margin-left: 2rem;}
#menu_nav{margin-top: 5.5rem;}
#menu_nav li{margin-top:0}
#menu_nav a{text-transform:uppercase;font-size:13pt;font-family: "RobotoRegular", sans-serif;color:#f2f2f2;letter-spacing: -0.4pt;padding-left: 2.1rem;display:block;cursor:pointer;height: 2.62rem;line-height: 19pt;}
#menu_nav a:hover{color:#ef7f1a}
#menu_nav li .actived, #menu_nav li:hover{color:#ef7f1a;background:#222 url(/app/img/menu_border.gif) repeat-y left;}

#menu_footer{margin: 2rem 2.1rem 0.2rem;height: 6.6rem;width: 10.94rem;position: absolute;bottom: 2.8rem;
}
#menu_footer, .da_design a{color:#f2f2f2;}

#menu_social{margin-left: -.5rem;height: 2.4rem;}
.social{width:36px;height:36px;float:left;margin-right: .15rem;cursor:pointer;}
.youtube{background:url(/app/img/ico_youtube.png);}
.youtube:hover{background:url(/app/img/ico_youtube_r.png);}
.vk{background:url(/app/img/ico_vk.png);}
.vk:hover{background:url(/app/img/ico_vk_r.png);}
.instagram{background:url(/app/img/ico_instagram.png);}
.instagram:hover{background:url(/app/img/ico_instagram_r.png);}
.facebook{background:url(/app/img/ico_facebook.png);}
.facebook:hover{background:url(/app/img/ico_facebook_r.png);}

.da_design{font-family: 'PTSansRegular', sans-serif;font-size: 9pt;letter-spacing: -.32pt;margin-top: .38rem;}
.da_design a:hover{color:#ef7f1a;}

.copyright{font-family: 'RobotoLight', sans-serif;font-size: 8pt;margin-top: .9rem;letter-spacing: .16pt;line-height: 12pt;}




/***navbar_top**/
#navbar_top{background:#f2f2f2;z-index:96;height:3.43rem;position:relative;}

#navbar_top_buttons{height:55px;width:100%;overflow:hidden;background:#f2f2f2;}
.navbar_top_button, .navbar_top_language{display:block;width:55px;height:56px;cursor:pointer;margin-bottom: -1px;background:#f2f2f2;}
.navbar_top_button{float:left;}
.navbar_top_button:hover{background:#fff;}

#navbar_top_button_contacts, #navbar_top_button_feedback, #navbar_top_button_search{height:26px;width:26px;background:url(/app/img/ico_sprite.png);display:block;margin: 13px;}

#navbar_top_button_contacts{background-position:0 0;}
#navbar_top_button_feedback{background-position:52px 0;}
#navbar_top_button_search{background-position:26px 0;}

.navbar_top_button_contacts_active, .navbar_top_button_feedback_active, .navbar_top_button_search_active{background:#fff;}
.navbar_top_button_contacts_active{background-position:0 26px !important}
.navbar_top_button_feedback_active{background-position:52px 26px !important;}
.navbar_top_button_search_active{background-position:26px 26px !important;}


.navbar_top_lang{float:right;color:#222;margin-right:1.74rem;padding:1.3rem 1rem;}

.navbar_top_lang_letters, .navbar_top_lang_letters_active{text-transform:uppercase;}
.navbar_top_lang_letters a:hover{color:#ef7f1a;cursor:pointer}
.navbar_top_lang_letters_active{color:#ef7f1a;}
/***navbar_top_expand**/
#navbar_top_expand{background:#fff;font-family: 'OpenSansRegular', sans-serif;font-size:11pt;letter-spacing:-.16pt;z-index:101;width:100%;}
#navbar_top_contacts, #navbar_top_feedback, #navbar_top_search{display: none;padding:0 3.41rem .35rem 3.2rem;}

.expand_title{padding:1.7rem 0 1.3rem 0;text-transform:uppercase;font-size: 18pt;font-family: 'RobotoRegular', sans-serif;}

.expand_search_input{font-size: 11pt;
letter-spacing: .25pt;
height: 3.4rem;
border: 0;
padding: 0 1.2rem;
border-radius: 0;
background: #f2f2f2;margin-bottom: 1.95rem;}

.navbar_top_contacts_box{}
.navbar_top_contact{float: left;
margin-right: 1.6rem;
width: 19rem;}
.navbar_top_contact_title{font-size: 11pt;font-family: 'OpenSansRegular', sans-serif;border-bottom: 1px solid #ccc;padding: .3rem 0 1.1rem;letter-spacing: .07pt;}
.navbar_top_contact_last{margin-right:0;width: 16rem;}
.navbar_top_contact_ico_2gis{margin: .1rem .3rem -.2rem;}
.navbar_top_contact_text{margin: 1.3rem 0;

line-height: 16.5pt;

letter-spacing: -.18pt;}

.navbar_top_feedback_input, .navbar_top_feedback_textarea{font-family: 'OpenSansRegular', sans-serif;font-size: 12pt;letter-spacing: -.16pt;border-radius: 0;}
.navbar_top_feedback_input{height: 1.96rem;margin-bottom: -.1rem;}
.navbar_top_feedback_textarea{height: 7.48rem;}

.navbar_top_feedback_btn_submit{height: 2rem;width: 9.65rem;background: #ef7f1a;color: #fff;border: none;cursor:pointer;}
#feedback_checkbox_desc{font-size: 7pt;
color: #999;
margin: .4rem 0 0 1rem;
letter-spacing:-.1pt;
line-height: 8pt;}

#share_tab{border-left: 1px solid #999;
border-bottom: 1px solid #999;
padding: .6rem .7rem;
display: block;
margin-bottom: -1px;
z-index: 89;
background: #fff;
position: absolute;
bottom: 0;
right: 0;}
#share_tab:hover, .share_tab_active{background:#f2f2f2;cursor:pointer;color:#000;}
#share_tab img{margin: 0 .58rem -2px 0;}
.share_tab_active{border-bottom: none!important;}
#share_box{border-top: 1px solid #999;display:none;}

/**AddThis *******/
.at-share-btn{
	border-right: 1px solid #999!important;padding: .4rem;
}
.at-share-btn:hover, .at-share-btn:focus{
	transform: none!important;background: #f2f2f2!important;
}
.at-share-btn:hover .at-icon, .at-share-btn:focus .at-icon{fill: rgb(90, 90, 90)!important;}
.at-share-btn:first-child{
	border-left: 1px solid #999!important;padding: .4rem;
}
.at-resp-share-element .at-share-btn {
	margin: 0!important;
}


/**Checkbox customization**/
.checkbox_container {display: block;color:#666;position: relative;padding-left: .91rem;cursor: pointer;font-size: 8pt;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;margin-top: .47rem;line-height: 8pt;letter-spacing: -.11pt;}
/* Hide the browser's default checkbox */
.checkbox_container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
/* Create a custom checkbox */
.checkbox_checkmark {position: absolute;top: 0;left: 0;height: 10px;width: 10px;background-color: #eee;border:1px solid #b7b7b7}
/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkbox_checkmark {background-color: #ccc;}
/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkbox_checkmark {background-color: #fff;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_checkmark:after {content: "";position: absolute;display: none;}
/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkbox_checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkbox_container .checkbox_checkmark:after {left: 1px;top: 1px;width: 6px;height: 6px;background: #ef7f1a;}



/**SEARCH*****/
#search_box{max-width: 27rem;}
#search_count_box{
display: none;
line-height: 1.3rem;
padding: 0 .3rem;
height: 1.3rem;
background-color: #eee;
border: 1px solid #aaa;
border-radius: 0rem;
color: #222;
font-weight: bold;
font-size: 11pt;
font-family: 'Exo2BoldItalic', sans-serif;
margin: .1rem -1.27rem;
}
#search_list{
	position: absolute;
overflow: hidden;
transition: all 0.3s ease 0s;
max-height: 50rem;
max-width: 25rem;
min-width: 10rem;
background: #fff;
top: 11.4rem;
z-index: 101;
box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.5);
}
.search_text{color:#111}
.search_img{width:2rem}

#search_list .active{cursor: pointer;background-color:#e3f2fd;}
#search_list em. #call_search_list em {font-weight:bold;color:#f33;}

.search_found, .search_found:focus {color:#fff;background:rgba(123, 255, 123, 0.2);}
.search_notfound, .search_notfound:focus {color:#aaa;background:rgba(255, 123, 123, 0.2);}
.search_waitinput, .search_waitinput:focus {color:#111;background:rgba(255, 255, 255, 0.9);}

/***KONTAKTY page***/
#contacts_map{width:100%;height:455px;}
#contacts_bottom{padding:0 3.41rem .35rem 3.2rem;font-family: 'OpenSansRegular', sans-serif;font-size:11pt;letter-spacing:-.16pt;}
#contacts_bottom a{color:#222;}
#contacts_bottom a:hover{color:#ef7f1a;}


/*******CATEGORY PRODUCT************/
.menu_tabs{
min-height: 69px;
border-top: 1px solid #999;
border-bottom: 1px solid #999;
}
.menu_tab{
	border-right: 1px solid #999;
padding: 1.6rem 0;
display: block;
width:100%;
}
.menu_tab:hover, .menu_tab_active{
	background:#f2f2f2;cursor:pointer;
	color:#000;
}
.menu_tab_last{
	border-right:none;
}

.wrapper_product, .wrapper_product_element{
margin-left: 2.5rem;
margin-right: 2.5rem;
}
.wrapper_product{
	margin-top: 1.9rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid #bbb;
	padding: 0 0 .9rem;
}
.no_border_bottom{
	border-bottom: none;
}

.wrapper_product h1, .wrapper_product h2, .wrapper_product h3, .wrapper_product h4, .wrapper_product h5, .wrapper_product h6{
	letter-spacing: .54pt;margin-bottom:1.2rem;
}

.wrapper_product h1{font-size: 18pt;}
.wrapper_product h2{font-size: 17pt;}
.wrapper_product h3{font-size: 15pt;margin-top:2rem;}
.wrapper_product h4{font-size: 14pt;}
.wrapper_product h5{font-size: 13pt;}
.wrapper_product h6{font-size: 12pt;}


.wrapper_product p a{
	text-decoration:underline!important;
}
.wrapper_product p a:hover{
	cursor:pointer;
	color:#ef7f1a!important;
	text-decoration:none!important;
}

.wrapper_product p, .wrapper_product ul, .wrapper_product ol{
margin: 1.2rem 0;
font-size: 12pt;
line-height: 15pt;
}
.wrapper_product ul, .wrapper_product ol{
	
}

.wrapper_product ol li, .wrapper_product ul li{list-style-position: inside!important;}
.wrapper_product ol li{list-style:square_outside;}
.wrapper_product ul li{list-style:disc;}

.infobox_table_price{max-width: 40rem;}
.infobox_table_price_head{height: 4.6rem;line-height: 50pt;}
.infobox_img{width:100%;}

.infobox_image, .infobox_image_left{max-width:40vw;}
.infobox_image{float:right;margin: 0 0 .5rem 1rem;}
.infobox_image_left{float:left;margin: 0 1rem .5rem 0;}

.infobox_media_switches{border-top: 1px solid #999;border-bottom: 1px solid #999;float:right;}
.infobox_media_switch{border-right: 1px solid #999;
border-left: 1px solid #999;
padding: .65rem 0;
    padding-right: 0px;
    padding-left: 0px;
width: 6.15rem;
text-transform: uppercase;
font-size: 11.7pt;
letter-spacing: 0pt;
}
.infobox_media_switch:hover{background:#f2f2f2;cursor:pointer;color:#000;}
.infobox_media_switch_last{border-left:none;}
#infobox_media_video{display:none;}

.product_option {margin:0 !important;overflow: hidden;}
.product_option:after{content:'........................................................................................................................................................................................................................................................................................................................................';display: block;white-space: nowrap;overflow: hidden;}
.product_option span:first-of-type:before{content:'• '}
.product_option span:first-of-type {float:left;margin-right:.2rem;}
.product_option span:last-of-type {float:right;margin-left:.2rem;}

.product_preview_block{margin: .9rem 0rem .9rem 3rem;
width: 300px;
height: 305px;
background: #eee;}
.product_preview_header{height: 3.8rem;}
.product_preview_name{font-size: 12pt;
color: #000;
text-transform: uppercase;
width: 300px;
padding: .7rem 1rem;
letter-spacing: .1pt;
line-height: 14pt;}
.product_preview_link{font-family: RobotoLight;
font-size: 12pt;
color: #555;
margin: .7rem 1rem;
display: block;
letter-spacing: -.8pt;}

.product_text{font-family: RobotoRegular;
font-size: 12pt;
letter-spacing: 0pt;
margin: 2.42rem 3rem;
max-width: 1180px;}
.product_text p{margin: 0 0 1.5rem 0;}
.product_text ul{margin: .5rem 1rem;}
.product_text li{margin: .1rem 1rem;}


.feedback_btn{
	background: #ef7f1a;

color: #eee;
height: 2rem;
line-height: 25pt;
padding: .45rem 1.8rem;
letter-spacing: -.16pt;
text-transform: uppercase;
font-size: 11pt;
margin-top: .3rem;
}
.feedback_btn:hover{color:#fff;box-shadow: 0px .3rem .4rem rgba(0,0,0,0.4);}
/*********  SLIDER ********************/
.slider_wrapper{height:100vh;width: 97vw;text-align:center;}
.slider_wrapper .slider{height:100vh;}
.slider_wrapper .slider_item{height:100vh;width:100vw!important}
.slider_wrapper .bx-wrapper{height:100vh!important;border:none;}
.slider_wrapper .bx-viewport{height:100vh!important;}

.slider_content_wrapper{display:none;width: 440px;position: absolute;bottom: 5.3rem;right: 3rem;background: url(/app/img/n_line.png) no-repeat center 2.22rem #111;padding: 0 3.4rem 2rem;opacity: 0.8;overflow:hidden;text-align:center}

.slider_name{font-size: 25pt;margin-top: 3.7rem;
font-family: 'RobotoRegular', sans-serif;
color: #fff;
line-height: 28.5pt;
letter-spacing: -.63pt;
background: url(/app/img/orange_line.png) no-repeat center bottom;
padding-bottom: .93rem;
}
.slider_text{font-size: 12pt;
font-family: 'RobotoRegular', sans-serif;
color: #fff;
letter-spacing: -.81pt;
margin-top: .9rem;
line-height: 13pt;
}
.slider_link{
display: block;
padding: .62rem .4rem;
border: 1px solid #ef7f1a;
color: #fff;
text-transform: uppercase;
font-size: 13pt;
margin: 1.67rem auto 0;
letter-spacing: -.6pt;
width: 10.8rem;
}
.slider_link:hover{color:#ef7f1a;box-shadow: 0px .3rem .4rem rgba(0,0,0,0.4);}

#slider_dots{display: block;position: absolute;bottom: 1.54rem;right: 3rem;height: 30px;background: #111;opacity: 0.8;z-index: 101;}
#slider_dots a {display: inline-block;width:10px;height:10px;margin:10px 10px 10px 0;background:#fff;cursor:pointer;}
#slider_dots a:first-child {margin:10px;}
#slider_dots .active {background:#ef7f1a;cursor:default;}

/*********  SLIDER INFOBOX ********************/
.slider_wrapper_infobox{padding-top:1.5rem;}
.slider_wrapper_infobox .bx-wrapper{border:none!important;box-shadow: none!important;}
.slider_wrapper_infobox .bx-viewport{}
.slider_infobox{}
	
#slider_dots_infobox{
	display: block;
position: absolute;
top: -6.2rem;
height: 39px;
margin-left: 40%;
background: #111;
opacity: 0.7;
z-index: 101;}
#slider_dots_infobox a {display: inline-block;width:13px;height:13px;margin:10px 13px 10px 0;background:#fff;cursor:pointer;border-radius: .7rem;}
#slider_dots_infobox a:first-child {margin:13px;}
#slider_dots_infobox .active {background:#ef7f1a;cursor:default;}
#slider_infobox_small{height:7rem;overflow:hidden;}
#slider_infobox_small img{height:100%;}

#slider_prev_infobox_wrapper, #slider_next_infobox_wrapper{position:absolute;top:40%;}
#slider_prev_infobox_wrapper{left:2rem;}
#slider_next_infobox_wrapper{right:2rem;}
#slider_prev_infobox, #slider_next_infobox{height:62px;width:62px;background:url('/app/img/ico_arrow_r.png');border-radius:10rem;}
#slider_prev_infobox:hover, #slider_next_infobox:hover{cursor:pointer;box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);}
#slider_prev_infobox{transform: scale(-1, 1);}
#slider_next_infobox{}

/*****Footer******/
#footer{font-family: RobotoRegular;
font-size: 12pt;
color: #222;
margin: 2.5rem 3.3rem .2rem;
height: 3rem;
border-top: 1px solid #b8b7b7;
padding-top: 1.4rem;
letter-spacing: -.2pt;}

/*******font***/
	@font-face {
		font-family: "RobotoRegular";
		src: url("../font/roboto/Roboto-Regular.woff") format("woff"),
			url("../font/roboto/Roboto-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "RobotoBold";
		src: url("../font/roboto/Roboto-Bold.woff") format("woff"),
			url("../font/roboto/Roboto-Bold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "RobotoLight";
		src: url("../font/roboto/Roboto-Light.woff") format("woff"),
			url("../font/roboto/Roboto-Light.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "PTSansRegular";
		src: url("../font/ptsans/PTSans-Regular.woff") format("woff"),
			url("../font/ptsans/PTSans-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	@font-face {
		font-family: "OpenSansRegular";
		src: url("../font/opensans/OpenSans-Regular.woff") format("woff"),
			url("../font/opensans/OpenSans-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}


/*bootstrap переназначение */
.row.slim > [class^="col-"], .slim > [class*=" col-"] {
    padding-left: .1rem !important;
    padding-right: .1rem !important;
}

.btn-secondary {color: #111!important;background-color:#fff!important;border-color:#bbb!important;}
.btn-secondary:hover {color:#000!important;background-color:#eee!important;border-color:#999!important;}
.btn-secondary:not(:disabled):not(.disabled).active{background-color:#ddd!important;border-color:#555!important;color:#000!important;}

.breadcrumb{background: transparent!important;}
.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
	padding-right: .04rem;
	padding-left: .2rem;
}
.btn{overflow:hidden;text-overflow: ellipsis;}